body {
margin-top: 7%;
  background: rgba(255, 0, 0, 0.1);
  
}
.rezan {
  margin: 100px;
}
#r1 {
  position: absolute;
  top: 15px;
  left: 47%;
  font-family:sans-serif;
  font-size: 30pt;
}
.rez{
  position: absolute;
  top: 40px;
  left: 43%;

}


.rezan1{
  background:white;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 11px ;
  font-family: sans-serif;
  font-size: 15px;

}
#r13{
  margin-right:60%;
}
#r2 {
  font-family:sans-serif;
  margin-right: 50%;
}
#r3{
  font-family: sans-serif;

margin-left: 2%;
}
#email{
  position:relative;
  top: -15px;
  margin-top: 10px;
    margin-right: 50%;
    width: 80%;
    padding: 20px;
    border-radius: 5%;
    margin: 15px;
}
#password{
  margin-top: 7px;
  font-family:sans-serif;
  display: inline;
  margin-right: 50%;
  width: 80%;
  padding: 20px;
  border-radius: 5%;
  margin: 15px;
}
#r12{
  font-family: sans-serif;
  margin: 10px;
}
#r4{
  position: relative;
  right: -18%;
  margin: 18%;
    font-family: sans-serif;
    text-decoration: none;
}
#r5{
  background-color: rgba(0, 0, 255, 0.5);;
  text-align: center;
  width: 92%;
  height: 60px;
  margin: 15px;
  border-radius:7%;
    font-family: sans-serif;

}
#r6{
  margin: 10px;
  font-family: sans-serif;;
  font-size: 16px;
  margin-left: 14%;
}
#r7{
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  width: 92%;
  height: 60px;
  margin: 15px;
  border:  solid rgba(0, 0, 255, 0.5);
  border-radius: 7%;
}
.rezan2{
  background-color: white;
  margin-left: 34.30%;
  margin-right: 34%;
}
#r8{
  float: left;
  margin-left: 50px;
  font-size: 10pt;
  position: relative;
margin-top: 15px;
    font-family: sans-serif;
}
#r9{
    font-family: sans-serif;
    text-decoration: none;
    margin: 230px;
    padding: 140px;

}
#r10{
  float: right;
  margin-right: 75px;
  font-size: 13px;
  font-family: sans-serif;
margin-top: -20px;
}
#r13{
  margin-right: 5px;
text-decoration: none;
}
.footer {
  position:absolute;
  top: 99.20%;
  width: 99.20%;
  margin-top: 200px;
  background-color: white;
height: 5em;

}
.rez1{
  position: absolute;
top: 742px;
  left: 37%;
}
